.breizbot-header {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	

	.notification {
		position: relative;
	}

	.notification .w3-badge {
		position: relative;
		left: -15px;
	}	
}
