.breizbot-htmleditor {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	> .scrollPanel {
		flex: 1;
		overflow-y: auto;
		border: 1px solid lightgray;

		.editor {
			min-height: 100%;			
			padding: 10px;
			outline: none;
		}
	
	}
	
	
	> .toolbar {
		display: flex;
		flex-direction: row;
		background-color: #128C7E;
		color: white;

		.group {
			//border-right: 1px solid white;	
			display: flex;	
			align-items: center;
			.separator {
				border-left: 1px solid white;
				height: 80%;
			}
		}


	}	
}
