
.databaseSongs {
    display: flex;
    flex-direction: column;
    padding: 10px;


    .scrollPanel {
        margin-top: 5px;;
        padding: 10px;
        flex: 1;
        overflow-y: auto;
        border: 1px solid lightgray;

        .item {
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
}