.breizbot-files {
		overflow: hidden;
		display: flex;
		flex-direction: column;

	> .scrollPanel {
		flex: 1;
		overflow-y: auto;
		border: 1px solid lightgrey;
		margin-top: 10px;		

		.container {
			display: flex;
			flex-direction: column;

			.thumbnail {
				margin: 5px;
				position: relative;
				padding: 10px;
				background-color: white;

				.check {
					position: absolute;
					left: 5px;
					top: 5px;
				}				

				.item {
					display: flex;
					align-items: center;
					cursor: pointer;


					.icon {
						min-width: 100px;
						text-align: center;
					}

					.info {
						display: flex;
						flex-direction: column;
						overflow: hidden;
						margin-left: 5px;
					}
				}
			}			
		}							
	}


	> .pathPanel {
		margin-left: 10px;

		.fa-chevron-right {
			color: #6c757d;
		}

		.lastItem {
			color: #6c757d;
		}

		.pathItem {
			text-decoration: none;
			color: #007bff;
		}
		> div {
			display: inline-block;
		}
	}

	> .info {
		margin: 10px;
		text-align: right;
	}

	> .loading {
		margin-left: 10px;
	}
}