.breizbot-files {
	.contentPanel {
		height: 100%;
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.container {
		display: flex;
		flex-direction: row;
		flex: 1;
		//align-items: stretch;
		align-items: flex-start;
		flex-wrap: wrap;
		align-content: start;
	}

	.thumbnail {
		margin: 10px;
		position: relative;
		border: 1px solid black;
	}

	.check {
		position: absolute;
		left: 5px;
		top: 5px;
	}

	.toolbar {
		margin-bottom: 10px;
	}
}