.breizbot-files {
		height: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		padding: 10px;

	> .scrollPanel {
		flex: 1;
		overflow-y: auto;
		border: 1px solid lightgrey;
		margin-top: 10px;		

		.container {
			display: flex;
			flex-direction: column;

			.thumbnail {
				margin: 5px;
				position: relative;
				padding: 10px;
				background-color: white;

				.check {
					position: absolute;
					left: 5px;
					top: 5px;
				}				

				.item {
					display: flex;
					align-items: center;
					cursor: pointer;


					.icon {
						min-width: 100px;
						text-align: center;
					}

					.info {
						display: flex;
						flex-direction: column;
						overflow: hidden;
						margin-left: 5px;
					}
				}
			}			
		}							
	}
	> .download {
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		
		.downloadItems {
			margin-top: 10px;
			margin-left: 20px;
		}

		progress {
			width: 100%;
		}
	}

	> .toolbar {
		.brainjs-controlgroup {
			margin-bottom: 10px;			
		}
	}

	> .pathPanel > div {
		display: inline-block;
	}
}