.mailboxPage {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;

	.toolbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}

	.scrollPanelTable {
		flex: 1;
		overflow-y: auto;
		border: 1px solid black;

		table {
			.item {
				cursor: pointer;
			}

			tr.unseen {
				font-weight: bold;
			}

		}			
	}


}