.rootPage {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;

	.toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 5px;

		.info {
			display: flex;
			align-items: center;

			.nbMsg {
				margin-left: 20px;
			}

			.account {
				display: flex;
				align-items: center;
			}
		}
	}

	.scrollPanelTree {
		flex: 1;
		overflow-y: auto;
		border: 1px solid black;

		.tree {
			height: 100%;
			ul {
				height: 100%;
				border: none;
			}

			ul:focus {
				outline: none;
			}

			.fancytree-node {
				display: flex;
				align-items: center;
				font-size: 1.3em;
			}

			span.fa {
				color: #607d8b;
			}
		}			
	}


}