.rootPage {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;

	.toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.info {
			display: flex;
			align-items: center;

			.nbMsg {
				margin-left: 20px;
			}
		}
	}

	.scrollPanelTree {
		flex: 1;
		overflow-y: auto;
		border: 1px solid black;

		.tree {
			height: 100%;
			ul {
				height: 100%;
				border: none;
			}
		}			
	}


}