.messagePage {

	display: flex;
	flex-direction: column;

	.header {
		padding: 10px;

		.attachments {
			ul {
				margin: 0;
			}

			strong {
				cursor: pointer;
			}			
		}


	}

	.mainText {
		flex: 1;
		padding: 10px;
		overflow: auto;


		pre {
			height: 100%;
			width: 100%;
		}

	}

	.mainHtml {
		flex: 1;
		padding: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		.embeddedImages {
			padding-left: 10px;
		}


		iframe {
			margin: 0;
			flex: 1;
			border: none;
		}
	}	
}