.code {
    display: flex;
    flex-direction: column;
    #blocklyDiv {
        flex: 1
    }
    .toolbar {
        padding: 5px;
    }
    .logPanel {
        height: 100px;
        overflow-y: auto;
        border: 1px solid lightgray;
        padding: 5px;
    }
}