.breizbot-rtc {
	display: flex;
	flex-direction: column;

	.toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #128C7E;
		color: white;

		> .status {
			margin-left: 5px;
		}

		p {
			margin: 0px;
		}
	}

	.panel {
		flex: 1;
		overflow: hidden;
	}
}