.editDlg {

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {

        .group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            > label {
                width: 80px;
            }
        }
    }

    .toolbar {
        margin-top: 30px;

    }
}