.player {
	padding: 10px;

	audio {
		width: 100%;
	}

	.title {
		display: flex;
		.span {
			flex: 1;
			overflow: hidden;
		}
		margin-top: 10px;
	}

	.toolbar {
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		button {
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 3rem;
			height: 3rem;
			margin: 10px;

		}

	}

	.shuffle {
		display: flex;
		margin-bottom: 20px;
	}		

	.slider {
		display: flex;
		align-items: center;
		.brainjs-slider {
			margin-left: 20px;
			flex: 1;
		}
	}


}