.rootPage {
    margin: 5px;
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        justify-content: space-around;
        background-color: grey;
        margin-top: 10px;
        padding: 5px 0;
        align-items: center;
    }

    table {
        margin-top: 10px;
        th {
            background-color: #666;
        }
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        .left {
            display: flex;
            align-items: center;
            button {
                margin-right: 10px;
            }
        }

        .mode {
            display: flex;
            > div {
                margin-left: 20px;
            }
        }
    }


}