.rootPage {
    margin: 5px;
    display: flex;
    flex-direction: column;

    .controlBar {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
        .controlBarItem1 {
            width: 150px;
            .top, .bottom {
                display: flex;
                justify-content: center;
            }
            .middle {
                display: flex;
                justify-content: space-between;
            }    
        }
        .controlBarItem2 {
            margin-left: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        .left {
            display: flex;
            align-items: center;
            button {
                margin-right: 10px;
            }
        }

        .mode {
            display: flex;
            > div {
                margin-left: 20px;
            }
        }
    }


}