.breizbot-searchbar {

    > form {
		display: flex;
		flex-direction: row;
		border: 2px solid rgb(238, 238 , 238);
		border-radius: 20px;
		padding-left: 10px;
		padding-right: 10px;

        input:-webkit-autofill {transition: background-color 5000s ease-in-out 0s;}

		input {
			flex: 1;
			padding: 5px;
			border: none;
            outline: none;
            
		}


	}
}