.rootPage {
    margin: 10px;
    display: flex;
    justify-content: center;

    canvas {
        width: 512px;
        height: 512px;
    }

    .info {
        display: flex;
        justify-content: space-between;
    }
}