.transactions {

    display: flex;
    flex-direction: column;


	.scrollPanel {
		flex: 1;
		overflow-y: auto;
		//border: 1px solid black;

		table {
			border: none;
			th {
				position: sticky;
				top: 0;
				z-index: 2;
				//background-color: rgb(76, 175, 80);
				background-color: #666;
                color: white;
            }
            
            td.amount {
                text-align: right;
                padding-right: 10px;
            }

		}			
	}    
}