.configCtrl {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;


    .scrollPanel {
        max-width: 500px;
        padding: 10px;
        flex: 1;
        overflow-y: auto;
        border: 1px solid lightgray;

        .item {
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
}