.hubinfo {
    margin: 5px;
    display: flex;
    flex-direction: column;
    
    .scrollBar {
        flex: 1;
        overflow-y: auto;
        margin-top: 10px;

        h1 {
            font-size: 16px;
            font-weight: bold;
            
        }

        .spanButtons button {
            margin-left: 5px;
        }

        .input-name {
            width: 100px;
        }

    }
}