.rootPage {
	height: 100%;
	position: relative;

	.map {
		height: 100%;
	}

	.toolbar {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.location {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 10px;

			.jq-flipswitch {
				margin: 0 0 0 10px;
				//box-shadow: none;
				box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 2px #EEE inset;
			}
			
		}


	}
}