.searchPage {
	padding: 10px;
	display: flex;
	flex-direction: column;

	form {
		margin-bottom: 10px;

		label {
			display: inline-block;
			width: 80px;
		}

		.inputgroup {
			margin-bottom: 10px;
		}
	}

	.scrollPanel {
		flex: 1;
		overflow: auto;
		border: 1px solid black;
	}
}