.addBook {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    form {

        max-width: 400px;
        width: 400px;
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 10px;

        > label {
            grid-column: 1/2;
        }

        > input {
            grid-column: 2/3;
        }

        > textarea {
            grid-column: 1/3;
            resize: none;
        }

        .cover {
            display: flex;
            align-items: flex-start;

            img {
                margin-right: 10px;
            }
    
        }

        > fieldset {
            grid-column: 1/3;

            > div {
                margin: 5px 0;
                display: flex;
                align-items: center;
                input.w3-check {
                    top: 0;
                    margin-right: 10px;
                }
                
            }
        }
    }
}