.rootPage {
	display: flex;
	flex-direction: column;
	padding: 10px;
	
	.toolbar {
		margin-bottom: 10px;
		display: flex;
		justify-content: flex-end;

	}

	.breizbot-contacts {
		flex: 1;
		border: 1px solid black;
	}
}