.rootPage {
	display: flex;
	flex-direction: column;
	
	.toolbar {
		background-color: #128C7E;
		color: white;
		display: flex;
		justify-content: flex-end;

	}

	.breizbot-contacts {
		flex: 1;
	}
}