.accountPage {
	margin: 10px;
	display: flex;
	justify-content: center;


	.brainjs-inputgroup {
		margin-bottom: 5px;

		label {
			display: inline-block;
			min-width: 150px;
		}

		input {
			padding: 5px;
		}
	}

	.copySent {
		display: flex;
		align-items: center;
		margin-top: 10px;
	}	
}