.accountPage {
	margin: 10px;
	display: flex;
	justify-content: center;

	form {
        display: grid;
        grid-template-columns: 130px 1fr;
		grid-gap: 10px;
		align-items: center;

        label {
            grid-column: 1 / 2;
        }
        
        input {
			grid-column: 2 / 3;
			padding: 5px;
			max-width: 180px;
        }		
	}


}