.breizbot-pdf {
	display: flex;
	flex-direction: column;

	.brainjs-pdf {
		flex: 1;
	}

	.toolbar {
		padding: 0 10px 0 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.pages {
			display: flex;
			align-items: center;
		}
	}
}