.breizbot-home {
	height: 100%;

	display: flex;
	flex-direction: column;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #075E54;

		color: white;

		.state {
			padding: 8px 16px 8px 16px;
		}

		.notification {
			position: relative;
		}

		.notification .w3-badge {
			position: relative;
			left: -15px;
		}			
	}	

	.content {
		flex: 1;
		overflow: hidden;
		padding: 0;
		.ui-tabs-nav {
			padding: 0;
			.ui-tabs-tab {
				border-radius: 0;
				margin: 0;
				//border: none;

				a {
					outline: none;
					user-select: none;
				}
			}
		}

	}

}