.rootPage {
	display: flex;
	flex-direction: column;


	.video {
		text-align: center;

		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: 0 10px 10px 10px;
		position: relative;

		video {
			max-height: 100%;
		}

		.reduced {
			position: absolute;
			height: 100px;
			top: 10px;
			left: 10px;
			border-radius: 10px;
		}
	}




}