.gallery {

	display: flex;
	flex-direction: column;

	.content {
		flex: 1;
		position: relative;
		.brainjs-image {
			height: 100%;
		}

		.buttons {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			z-index: 1500;
			padding: 10px;
			pointer-events: none;

			button {
				pointer-events: all;
			}
		}		
	}

	.band {
		overflow-x: auto;
		img {
			border: 2px solid transparent;
		}

		img.selected {
			border: 2px solid orange;
		}
	}

}