.rootPage {

    margin: 1em;

    .notSupported {
        padding: 1em;
        background-color: red;
        color: white;
      }

    fieldset {
        margin-top: 10px;
        margin-bottom: 10px;

        label {
            margin-right: 10px;
        }
    }

    .beep {
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
        align-items: center;
        button {
            margin-right: 30px;
        }
    }
    .container {
        padding-top: 10px;
    }

    .vert_container {
        padding-top: 10px;
        display: flex;
        align-items: center;

        label {
            width: 60px;
        }
    }
}