.rootPage {
	position: relative;


	.main {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;		
	}

	button {
		position: absolute;
		top: 10px;
		left: 10px;

	}
}