.groups {
    padding: 10px;

    .position {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        > span {
            margin-right: 10px;
        }
    }

    .items {
        margin-left: 20px;
    }

    .item {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .w3-check {
            top: 0px;
            margin-right: 20px;
        }
    }
}