.database {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    form {

        max-width: 400px;
        width: 400px;
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 10px;

        label {
            grid-column: 1/2;
        }

        input {
            grid-column: 2/3;
        }
    }
}