.rootPage {
	display: flex;
	flex-direction: column;

	.brainjs-htmleditor {
		flex: 1;
		overflow: hidden;

		.scrollPanel {
			margin: 10px;
			border: 1px solid black;

		}
	}	

	.toolbar {
		margin-left: 10px;
		margin-bottom: 2px;
		margin-top: 2px;
	}

	.titlebar {
		text-align: center;
	}
}