.breizbot-addContactPage {
	padding: 10px;

		display: flex;
		justify-content: center;
	

	label {
		display: inline-block;
		min-width: 120px;
	}


	form {
		.birthNotif {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 15px;
		}
	
		.gender {
			display: flex;
			.brainjs-inputgroup {
				margin-bottom: 5px;
			}
		}

		> .brainjs-inputgroup {
			margin-bottom: 15px;
	
			input {
				padding: 5px;
				min-width: 300px;
			}
		}	
	
	}
}