.breizbot-contacts {

    overflow: hidden;

    .scrollPanel {
        height: 100%;
        overflow-y: auto;   

        i {
            min-width: 30px;
            text-align: center;
        }
        
        input {
            border: none;
            outline: none;
        }
    }
}