.breizbot-contacts {

    overflow: hidden;
    display: flex;
    flex-direction: column;

    .breizbot-searchbar {
        margin: 10px;
    }

    .scrollPanel {
        flex: 1;
        overflow-y: auto;   

        i {
            min-width: 30px;
            text-align: center;
        }
        
        input {
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}