.rootPage {
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        margin: 10px;
        justify-content: space-between;

        .midi {
            display: flex;
            align-items: center;

            .brainjs-combobox {
                margin-left: 10px;
            }
        }

        .balance {
            margin: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 400px;
    
            .brainjs-slider {
                flex: 1;
                margin-left: 20px;
                margin-right: 20px;
            }
        }        

    }

    .center {
        display: flex;
        justify-content: center;
    }

    .visualizer {
        display: flex;
        justify-content: center;
        margin-top: 5px;

        .runningBufferContainer {
            position: relative;
            border: 1px solid black;
            overflow: hidden;

            .zeroTime {
                position: absolute;
                width: 2px;
                background-color: black;
            }

            .runningBuffer {
                position: absolute;
                display: flex;

            }

        }

    }

    .audioplayer:nth-child(1) {
        margin-right: 10px;
    }

    .audioplayer {
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 5px;
    }




}