.rootPage {
    display: flex;
    flex-direction: column;
    background-color: bisque;

    .top {
        display: flex;
        margin: 5px 10px 5px 10px;
        justify-content: space-between;

        .midi {
            display: flex;
            align-items: center;

            .brainjs-combobox {
                margin-left: 10px;
            }
        }

        .balance {
            margin: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 400px;

            .brainjs-slider {
                flex: 1;
                margin-left: 20px;
                margin-right: 20px;
            }
        }

    }

    .bottom {
        display: flex;
        flex: 1;
        flex-direction: row;
        overflow: hidden;
        margin-top: 5px;

        .left {
            display: flex;
            overflow: hidden;
            flex-direction: column;
            width: 300px;

            form {
                display: flex;
                input {
                    flex: 1;
                }
            }

        }

        .filelist {
            flex: 1;
        }
    }

    .center {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .mixer {
            border: 1px solid black;
            border-radius: 10px;
            display: flex;
            margin-left: 10px;
            margin-right: 10px;
            padding: 5px;
            align-items: center;

            .brainjs-audiopeakmeter {
                width: 5em;
                height: 200px;
            }



            .toolbar2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 10px 0 10px;
                justify-content: center;
    
                .brainjs-slider {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
    
            }            
        }



    }

    .visualizer {
        display: flex;
        justify-content: center;

        .runningBufferContainer {
            position: relative;
            border: 1px solid black;
            overflow: hidden;

            .zeroTime {
                position: absolute;
                width: 2px;
                background-color: black;
            }

            .runningBuffer {
                position: absolute;
                display: flex;
                > canvas {
                    transform-origin: left;
                }

            }

            .hotcueContainer {
                position: absolute;
                transform-origin: left;

                .hotcue {
                    position: absolute;
                    width: 2px;
                }

                .loop {
                    position: absolute;
                    background-color: rgba(0, 255, 0, 0.5);
                    border-left: 1px solid green;
                    border-right: 1px solid green;
                }
            }

        }

    }


    .audioplayer {
        border: 1px solid black;
        border-radius: 10px;
    }




}