.rootPage {
    padding: 10px;

    h2 {
        border-bottom: 1px solid lightgrey;
        margin-bottom: 20px;
    }

    section {
        margin-bottom: 20px;

        form {
            .brainjs-inputgroup {
                margin-bottom: 10px;
            }
            input {
                padding: 5px;
            }
            label {
                margin-right: 10px;
            }

            .images {
                display: flex;
                align-items: center;
            }

            .submit {
                margin-top: 10px;
            }
    
        }
    }
}