.infoPage {

    flex: 1;
    margin: 10px;

    .wrapper {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .video {
        //flex: 1;
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .details {
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        > div {
            display: flex;
        }

        strong {
            display: inline-block;
            min-width: 100px;
        }

        .description {
            flex: 1;
            display: flex;
            flex-direction: row;

            textarea {
                flex: 1;
                border: none;
                resize: none;
                outline: none;
            }
        }
    }		
}
