.infoPage {

    flex: 1;
    padding: 10px;

    .wrapper {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

        .video {
            //flex: 1;
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 0;
    
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }        
    }

    .description {
        margin-top: 10px;
    }

    .scrollPanel {
        overflow-y: auto;
        max-height: 150px;
    }

    .details {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 80px 1fr;
        strong {
            grid-column: 1 / 2;
        }
        span {
            grid-column: 2 / 3;;
        }
    }		
}
