.rootPage {
	padding: 10px;
	display: flex;
	flex-direction: column;

	.breizbot-searchbar {
		margin-bottom: 10px;
	}

	.results {
		flex: 1;
		overflow-y: auto;
		padding: 5px;
		border: 1px solid lightgrey;
		.item {
			display: flex;
			margin: 10px;
			cursor: pointer;
			padding: 5px;
			background-color: white;

			.imgWrapper {
				flex: 1;
				margin: 0 10px 0 0;
				img {
					max-width: 100%;
				}
			}

			.info {
				flex: 2;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}



		}

	}
}
