<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="/brainjs/brainjs.js"></script>
	<script type="text/javascript" src="/breizbot.js"></script>
</head>

<script type="text/javascript">
	$(function() {
		$$.viewController('body')
	})

</script>

<body>
	<div bn-control="breizbot.alexa"></div>
</body>

</html>