<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="/brainjs/css/brainjs.css">
</head>
<body>

<style type="text/css">
	#main {
		margin: 10px;
	}
</style>	

<div id="main">
	<p class="message"><%= message %></p>
	<a href="/" class="w3-btn w3-blue">Go Home</a>
</div>


</body>
</html>