<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="/brainjs/css/brainjs.css">
</head>
<body>

<style type="text/css">
	#main {
		margin: 10px;
	}
</style>	

<script>
	function reload() {
		window.parent.postMessage({type: 'reload'}, location.href)
	}
</script>

<div id="main">
	<p class="message"><%= message %></p>
	<a href="javascript:void(0)" onclick="reload()" class="w3-btn w3-blue">Reconnect</a>
</div>


</body>
</html>