<!DOCTYPE html>
<html>
<head>
	<title>NetOS</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/brainjs/css/brainjs.css">
	<link rel="stylesheet" type="text/css" href="/breizbot.css">
	<script src="/brainjs/brainjs.js"></script>
	<script src="/breizbot.js"></script>
</head>

<style type="text/css">
html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
	




</style>

<script>
	$(function() {
		$$.viewController('body')
	})

</script>

<body>

	<div bn-control="breizbot.home" data-user-name="<%= pseudo %>"></div>
</body>

</html>