<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/brainjs/css/brainjs.css">
</head>
<body class="w3-light-blue">

<style type="text/css">

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.group {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-around;
}

.main {
	padding: 20px;
	//border-radius: 10px;	
	z-index: 1000;
}

i {
	
	padding: 5px;
	//color: white;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

input {
	padding: 5px;
	//border: none;
}

.message {
	color: red;
	margin-top: 10px; 
}

.brand {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 10px;

}

.brand h1 {
	margin: 0px;
	font-size: 2em;
	font-weight: bold;
	text-shadow:2px 2px 0 #444;	
}

.brand h2 {
	margin: 0px;
	font-size: 1em;
	font-weight: bold;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px;
}

.footer h2 {
	margin: 0px;
	font-size: 0.8em;
	font-weight: bold;
}

</style>
<div class="brand w3-indigo">
<h1><span class="w3-text-white">Net</span><span class="w3-text-red">OS</span></h1>
<h2>The web operating system</h2>

<div class="footer w3-indigo">
	<h2>Copyright &copy; 2019-2020 <a href="mailto:marc.delomez@gmail.com">Marc DELOMEZ</a></h2>
</div>
	
</div>	

<div class="w3-light-grey w3-card-4 main">
	<form  method="post">
		<div class="group">
			<i class="fa fa-user fa-2x w3-text-indigo"></i>
			<input type="text" name="user" placeholder="Username" required autofocus>				
		</div>

		<div class="group">
			<i class="fa fa-lock fa-2x w3-text-indigo"></i>
			<input type="password" name="pwd" placeholder="Password" required>	
		</div>
	
		<button type="submit" class="w3-btn w3-indigo"><strong>Connect</strong></button>
		<span class="message"><%= message %></span>
	</form>

</div>


</body>
</html>