.audioplayer {
	padding: 10px;

	.info {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		.title {
			display: flex;
			> strong {
				min-width: 80px;
			}
		}
	

	}
	audio {
		width: 100%;
	}


	.toolbar {
		display: flex;
		flex-direction: column;

		button {
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 3rem;
			height: 3rem;
			margin: 10px;

		}

	}

	.toolbar2 {
		display: flex;
		flex-direction: column;
		align-items: center;

		.brainjs-slider {
			margin-top: 20px;
			margin-bottom: 20px;
		}

	}	
	
	
	.bufferContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 5px;
		padding-bottom: 5px;
		.loading {
			margin-left: 10px;
		}
		.bufferCanvas {
			background-color: navy;

		}
	
	}

	.slider {
		display: flex;
		align-items: center;
		min-width: 500px;
		.brainjs-slider {
			margin-left: 20px;
			flex: 1;
		}
	}


}