.writeMailPage {


	form {
		display: flex;
		flex-direction: column;
		padding: 5px;	
		height: 100%;	
	}

	.header {
		label {
			min-width: 80px;
			display: inline-block;
		}

		.attachments {
			display: flex;
			flex-direction: row;

			label {
				text-align: center;
			}

			ul {
				margin: 0;
				padding: 0px;

				li {
					display: flex;
					flex-direction: row;
					align-items: center;

					i {
						margin-left: 10px;
						cursor: pointer;
					}
				}
			}
		}

		.openContactPanel {
			min-width: 80px;
		}

		.brainjs-inputgroup {
			margin-bottom: 5px;
			display: flex;
			flex-direction: row;

			input {
				flex: 1;
				padding-left: 5px;
			}
		}
	}

	.toolbar {
		.brainjs-controlgroup {
			margin-bottom: 5px;
		}
	}

	.content{
		flex: 1;
		.scrollPanel {
			border: 1px solid lightgray;
		}
	}

	textarea {
		resize: none;
		padding: 5px;
	}
}