
.breizbot-users {

	margin:10px;

	display: flex;
	flex-direction: column;

	.toolbar {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 10px;

		button {
			margin-left: 5px;
		}
	}

	.scrollPanel {
		flex: 1;
		overflow: auto;
	}



}

