
.breizbot-users {

	margin:10px;

	display: flex;
	flex-direction: column;

	.toolbar {
		display: flex;
		justify-content: flex-end;
	}

	.scrollPanel {
		flex: 1;
		overflow: auto;
	}

	.btnAddUser {
		margin-bottom: 10px;
	}

}

