.mailboxPage {
	display: flex;
	flex-direction: column;
	//padding-left: 10px;
	//padding-right: 10px;

	.toolbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px 0 10px;

		.loading {
			padding: 8px 0 8px 0;
		}

	}

	.scrollPanelTable {
		flex: 1;
		overflow-y: auto;
		//border: 1px solid black;

		table {
			border: none;
			th {
				position: sticky;
				top: 0;
				z-index: 2;
				//background-color: rgb(76, 175, 80);
				background-color: #666;
				color: white;
			}
			.item {
				cursor: pointer;
			}

			tr.unseen {
				font-weight: bold;
			}

		}			
	}


}